@model IEnumerable<sxva_saqartvelo_back_end.Models.Project>

@{
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}



<script>
$(document).ready(function(){
    $("#searchInput-search").on("keyup", function () {
    var searchValue = $(this).val().toLowerCase();
    $("#projectTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(searchValue) > -1)
    });
  });
});
</script>

<br /><br />

<input class="srch" id="searchInput-search" type="text" placeholder="ძებნა..">
<br />
<table class="table-striped">
    <thead>
        <tr>
            <th>
                პროექტი
            </th>
            <th>
                კომპანია
            </th>
            <th>
                ფრილანსერი
            </th>
            <th></th>
           
</thead>
    @foreach (var item in Model)
    {
        <tbody id="projectTable">
            <tr class="displayedProjects">
                <td style="display:none">
                    @item.ID
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Company.Name 
                </td>
                <td>
                    @item.Freelancer.Name @item.Freelancer.Surname
                </td>
                <td>
                    <a style="text-decoration:none" href="@Url.Action("EditProject","Admin", new { id = item.ID})">რედაქტირება</a> |
                    @Html.ActionLink("დეტალურად", "ProjectDetails", new { id = item.ID }) |
                    <a style="cursor:pointer; color:#007bff" class="delete" data-toggle="modal" data-target="#myModal" id="@item.ID">წაშლა</a> |
                    <a style="display:inline-block" href="@Url.Action("AddTaskToProject", "Admin", new { id = item.ID })">ამოცანის დამატება</a>
                </td>
            </tr>
        </tbody>
    }
</table>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p><strong style="color:red; font-size:16px; margin-left:3px; color:#e80c4d;">მონაცემის წაშლა! დარწმუნებული ხართ?</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmDelete" data-toggle="modal" data-target="#myModal" value="წაშლა" class="btn btn-danger">წაშლა</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">გაუქმება</button>
            </div>
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {
        var tr;
        var id;

        $(".delete").click(function () {
            
            tr = $(this).closest('tr');
            id = tr.find('td:first').html();

            $('#confirmDelete').on("click", function () {

                $.ajax({
                    url: '/Admin/DeleteProject',
                    method: 'POST',
                    data: { 'id': id },
                    success: function (response) {
                        if (response == "DeleteSucceeded") {
                            $('.displayedProjects').trigger('click');
                            window.location.href = "/Admin/AdminPanel";
                        }
                    }
                });
            });
        });
    });
</script>