@model sxva_saqartvelo_back_end.Models.CreateProjectModel

@{
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="Name">პროექტის სახელი</label>
            <div class="cont3 col-12 col-sm-6 form-group">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Description">პროექტის აღწერა</label>
            <div class="cont3 col-12 col-sm-6 form-group">
                @Html.TextAreaFor(model => model.Description, new { @id = "Description", @class = "form-control", @rows = "200" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="StartDate">პროექტის დაწყების თარიღი</label>
            <div class="cont3 col-12 col-sm-6 form-group">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="EndDate">პროექტის დამთავრების თარიღი</label>
            <div class="cont3 col-12 col-sm-6 form-group">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="cont3 col-12 col-sm-6 form-group">
                @Html.DropDownList("CompanyID", (IEnumerable<SelectListItem>)ViewData["DBCompanies"] as IEnumerable<SelectListItem>, "კომპანიის დამატება პროექტზე", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="cont3 col-12 col-sm-6 form-group">
                @Html.DropDownList("FreelancerID", (IEnumerable<SelectListItem>)ViewData["DBFreelancers"] as IEnumerable<SelectListItem>, "ფრილანსერის დამატება პროექტზე", new { @class = "form-control" })
            </div>
        </div>     
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p style="color:red">@ViewBag.validateCompany</p>
                <p style="color:red">@ViewBag.validateFreelancer</p>
                <p style="color:green">@ViewBag.Success</p>
                <input onClick="CKupdate()" type="submit" value="დამატება" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    CKEDITOR.replace("Description");
</script>
