@model sxva_saqartvelo_back_end.Models.SendMailModel

@using sxva_saqartvelo_back_end.Models;
@using sxva_saqartvelo_back_end.Helpers;

@{
    var freelancer = LoginHelper.freelancer();
    var company = LoginHelperForCompany.company();
}


@if (freelancer != null)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (company != null)
{
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}


<link href="~/css/pagesNcomponents/homepage.css" rel="stylesheet" />
<link href="~/css/profile/style.css" rel="stylesheet" />
<link href="~/css/mystyle.css" rel="stylesheet" />
<section id="hero-section">
    <h1 class="nino-mtavruli color-while">კონტაქტი</h1>
</section>

<section class="container-fluid">
    <div class="row col-9 cont">
        @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "cont1 container" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="cont2 col-12 col-sm-6 form-group">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "შეიყვანე ელ.ფოსტა" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", placeholder = "სათაური" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
            <div class="cont4 container form-group">
                @Html.TextAreaFor(model => model.Body, new { @class = "form-control", @placeholder = "მოგვწერეთ" })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                <p style="color:green" class="SendSuccedeed">@ViewBag.SendSucceeded</p>
                <p style="color:#e80c4d" class="SendFailed">@ViewBag.SendFailed</p>
            </div>
            <div class="send container">
                <button class="submit">გაგზავნა</button>
            </div>
        }

    </div>
</section>



@*<script>
    CKEDITOR.replace("Body");
</script>*@




@*<form class="cont1 container">
        <div class="cont2 col-12 col-sm-6 form-group">
            <input type="email" class="form-control" placeholder="შეიყვანე ელ.ფოსტა">
        </div>
        <div class="cont3 col-12 col-sm-6 form-group">
            <input type="email" class="form-control" placeholder="სათაური">
        </div>
        <div class="cont4 container form-group">
            <textarea class="form-control" placeholder="მოგვწერეთ"></textarea>
        </div>
        <div class="send container">
            <button class="submit">გაგზავნა</button>
        </div>
    </form>*@