@model sxva_saqartvelo_back_end.Models.EditCompanyModel
@using sxva_saqartvelo_back_end.Models;
@using sxva_saqartvelo_back_end.Helpers;

@{
    var company = LoginHelperForCompany.company();
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}
<link href="~/Content/InputErrorValidation.css" rel="stylesheet" />
<link href="~/css/pagesNcomponents/homepage.css" rel="stylesheet" />
<link href="~/css/profile/style.css" rel="stylesheet" />
<link href="~/css/mystyle.css" rel="stylesheet" />

<section id="hero-section">
    <h1 class="nino-mtavruli color-while">რედაქტირება</h1>
</section>
<script>
    //ატვირთული სურათის არჩეულით ჩანაცვლება
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $(".companyImage").attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }

        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $(".uploadedImage").attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }

    
    @*if (window.location.reload = "@Url.Action("EditCompany","Company", new { id = company.ID})" ) {
        $(".companyImage").show();
    }*@
</script>


<section class="container-fluid">
    <div class="row col-9 cont">
        @using (Html.BeginForm("EditCompany", "Company", FormMethod.Post, new { @class = "cont1 container", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div style="float:right; position: relative" class="cyImg">
                @if (company != null)
                {
                    <img class="companyImage" style="width:250px; height:250px" src='@Url.Action("logos", "img", new { id = company.Logo})' />
                }

                @*<img class="companyImage" style="width:250px; height:250px" src='@Url.Action("logos", "img", new { id = Model.Logo})' />*@
                @if(ViewBag.uploadedImg != null) //ატვირთვის შემდეგ სურათის გამოჩენა
                {
                    <script>
                        $(document).ready(function () {
                            $(".companyImage").hide(); //ახალი სურათის ატვირთვის შემდეგ არსებულის დამალვა
                        });
                    </script>
                    <img class="uploadedImage" style="width:250px; height:250px" src='@Url.Action("logos", "img", new { id = ViewBag.uploadedimg})' />
                }
                <br /><br />
                <div style="float:right; position:absolute" class="choose-file">
                    <input type="file" value="choose file" id="file" name="file" onchange="show(this)" />
                </div>
            </div>

            <div class="cont2 col-12 col-sm-6 form-group">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "სახელი: ორგანიზაციის ან ფიზიკური პირის" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="cont3 col-12 col-sm-6 form-group">
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", placeholder = "ტელეფონი" } })
                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                <img class="showHidePassword" src="~/img/logos/if_visibility-off.svg" onmouseover="mouseoverPassOldPsw();" onmouseout="mouseoutPassOldPsw();" />
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "ძველი პაროლი" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                <img class="showHideNewPassword" src="~/img/logos/if_visibility-off.svg" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();" />
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "ახალი პაროლი" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                <img class="showHideRepeatPassword" src="~/img/logos/if_visibility-off.svg" onmouseover="mouseoverHover();" onmouseout="mouseoutHover();" />
                @Html.EditorFor(model => model.RepeatPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "გაიმეორეთ პაროლი" } })
                @Html.ValidationMessageFor(model => model.RepeatPassword, "", new { @class = "text-danger" })
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                <p style="color:red" class="error">@ViewBag.error</p>
                <p style="color:green" class="success">@ViewBag.success</p>
            </div>
            <div ass="cont3 col-12 col-sm-6 form-group">
                @Html.TextAreaFor(model => model.Description, new { @id = "CompanyDescription", @class = "form-control", @rows = "200" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="send container">
                <button onClick="CKupdate()" class="submit">რედაქტირება</button>
            </div>
        }

    </div>
</section>


<script>

    CKEDITOR.replace("CompanyDescription");



    function mouseoverPassOldPsw(obj) {
        var obj = document.getElementById('Password');
        obj.type = "text";
    }
    function mouseoutPassOldPsw(obj) {
        var obj = document.getElementById('Password');
        obj.type = "password";
    }

    function mouseoverPass(obj) {
        var obj = document.getElementById('NewPassword');
        obj.type = "text";
    }
    function mouseoutPass(obj) {
        var obj = document.getElementById('NewPassword');
        obj.type = "password";
    }

    function mouseoverHover(obj) {
        var obj = document.getElementById('RepeatPassword');
        obj.type = "text";
    }
    function mouseoutHover(obj) {
        var obj = document.getElementById('RepeatPassword');
        obj.type = "password";
    }


    //show hide icon
    $(function () {
        $('.showHideOldPd').hover(function () {
            $('.showHideOldPd').attr('src', '/img/logos/if_visibility_password.svg');
        },
        function () {
            $('.showHideOldPd').attr('src', '/img/logos/if_visibility-off.svg');
        })
    });

    $(function () {
        $('.showHidePd').hover(function () {
            $('.showHidePd').attr('src', '/img/logos/if_visibility_password.svg');
        },
        function () {
            $('.showHidePd').attr('src', '/img/logos/if_visibility-off.svg');
        })
    });

    $(function () {
        $('.showHideRePd').hover(function () {
            $('.showHideRePd').attr('src', '/img/logos/if_visibility_password.svg');
        },
        function () {
            $('.showHideRePd').attr('src', '/img/logos/if_visibility-off.svg');
        })
    });
</script>