@model sxva_saqartvelo_back_end.Models.LoginModel

<link href="~/css/pagesNcomponents/homepage.css" rel="stylesheet" />
<link href="~/css/profile/style.css" rel="stylesheet" />
<link href="~/Content/InputErrorValidation.css" rel="stylesheet" />

<section id="hero-section">
    <h1 class="nino-mtavruli color-while">ავტორიზაცია</h1>
</section>

<section class="container-fluid">
    <div class="row col-9 cont">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "cont1 container", onsubmit = "return validateForm()" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="send container">
                <button onclick="window.location.href='@Url.Action("CompanyLogin", "Account")'" id="loginButton" class="submit">დამსაქმებელი</button>    
            </div>
            <div class="cont2 col-12 col-sm-6 form-group">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "ელ.ფოსტა" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "პაროლი" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                <p style="color:#e80c4d" class="LoginFailed">@ViewBag.message</p>
            </div>
            <div class="send container">
                <button id="loginButton" class="submit">შესვლა</button>
            </div>
        }
    </div>
</section>


@*<script>
    $("#loginButton").click(function () {
        if ($("#Email").attr("name") != null) {
            $("#Email").removeClass("border-color", "");
        }
    });
</script>*@