@model sxva_saqartvelo_back_end.Models.RegisterModel
<link href="~/Content/InputErrorValidation.css" rel="stylesheet" />
<link href="~/css/pagesNcomponents/homepage.css" rel="stylesheet" />
<link href="~/css/profile/style.css" rel="stylesheet" />
<link href="~/css/mystyle.css" rel="stylesheet" />

<section id="hero-section">
    <h1 class="nino-mtavruli color-while">რეგისტრაცია</h1>
</section>

<section class="container-fluid">
    <div class="row col-9 cont">
        @using (Html.BeginForm("Register","Account", FormMethod.Post, new { @class = "cont1 container" }))
        {
            @Html.AntiForgeryToken()
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="cont2 col-12 col-sm-6 form-group">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "სახელი"} })
                @Html.ValidationMessageFor(model=> model.Name, "", new { @class = "text-danger"})
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", placeholder = "გვარი" } })
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                @Html.EditorFor(model => model.Field, new { htmlAttributes = new { @class = "form-control", placeholder = "პოზიცია" } })
                @Html.ValidationMessageFor(model => model.Field, "", new { @class = "text-danger" })
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                @Html.EditorFor(model => model.Bio, new { htmlAttributes = new { @class = "form-control", placeholder = "ბიოგრაფია" } })
                @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "ელ.ფოსტა" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "პაროლი" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                @Html.EditorFor(model => model.RepeatPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "გაიმეორეთ პაროლი" } })
                @Html.ValidationMessageFor(model => model.RepeatPassword, "", new { @class = "text-danger" })
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", placeholder = "ტელეფონი" } })
                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
            </div>
            <div class="cont3 col-12 col-sm-6 form-group">
                <p style="color:#e80c4d" class="RegistrationFailed">@ViewBag.RegistrationFailed</p>
                <p style="color:green" class="RegistrationSuccedeed">@ViewBag.RegistrationSuccess</p>
            </div>
            <div class="send container">
                <button class="submit">რეგისტრაცია</button>
            </div>
        }

    </div>
</section>



