
@model sxva_saqartvelo_back_end.Models.Freelancer

<!--C# Code-->
@{
    var skills = Model.Freelancer_Skill.ToList(); //ფრილანსერის სქილები
    var implementedProjects = Model.Projects.Count(); //ფრილანსერის განხორციელებული პროექტების რაოდენობა
    var project = Model.Projects.ToList(); //პროექტების თეიბლი ლისტად
}
<!---->
<!--CSS-->
<link href="~/css/pagesNcomponents/homepage.css" rel="stylesheet" />
<link href="~/css/profile/style.css" rel="stylesheet" />
<link href="~/css/mystyle.css" rel="stylesheet" />
<!---->

<section id="hero-section"></section>
<section class="container-fluid">
    <h1 class="my">ჩემი პროფილი</h1>
    <div class="row justify-content-between col-9 blue">
        <div class="col-xl-6 col-md-12 profile">
            <div class="person row">
                <div class="img-background" style="background-image: url(&quot;/img/pp/@Model.Photo&quot;);">
                    <img class="developerImage" src="/img/pp/@Model.Photo" alt="profile picture">
                </div>
                <div class="info align-items-end">
                    <h3 class="name-surname">@Model.Name @Model.Surname</h3>
                    <p class="rank position">@Model.Field</p>

                </div>
            </div>
            <div class="ინფო">
                <ul class="sia">
                    <li class="skills">
                        უნარები:
                        @foreach (var i in skills)
                        {
                            @i.Skill.Name <span> </span>
                        }
                    </li>
                    <li>
                        პროექტების რაოდენობა: <span class="projectQuantity">@implementedProjects</span>
                    </li>
                    <li>
                        მიმდინარე პროექტების რაოდენობა: <span class="projectsInProgressQuantity">4</span>
                    </li>
                    <li>
                        რეიტინგი: <span class="rating">@Model.Rating</span>/10
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-xl-6 col-md-12 des1 hidden-md">
            <button class="kon col  hidden-sm ">კონტაქტი</button>
            <article class="bio">
                <h2>ბიორგრაფია</h2>
                <div class="biography">
                    @Html.Raw(Model.Bio)
                </div>
            </article>
        </div>
    </div>
</section>
<section class="pprojects col-11">
    <div class="middle ">
        <h1>სამუშაო ისტორია</h1>
        <select>
            <option>ახალი</option>
            <option>ძველი</option>
        </select>
    </div>


    <div class="allProjects">
        @foreach (var item in project)
        {
            <div class="projects">
                <h3><b>@item.Name</b></h3>
                <p class="pro1 col-12">@item.Description</p>
                <p class="pro2 col-5">დამკვეთი: <span>@item.Company.Name</span></p>
                <p class="pro2">პროექტის შეფასება: <span>10</span>/10</p>
            </div>
        }
    </div>

    @*<div class="load">
        <h3 class="kon">იტვირთება...</h3>
    </div>*@
</section>

<script src="~/Scripts/JS/printCandidats.js"></script>



<script>
    $(document).ready(function () {
        $('#footer').hide();
    });
</script>