@using sxva_saqartvelo_back_end.Models;
@model PagedList.IPagedList<sxva_saqartvelo_back_end.Models.Freelancer>
@using PagedList.Mvc;

@{
    OtherGeorgiaEntities db = new OtherGeorgiaEntities();
    var skillsTolist = db.Skills.ToList();
}



<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/css/mystyle.css" rel="stylesheet" />

<section id="hero-section">
    <form action="" class="form-group search-window">
        <input type="text" id="searchInput" class="searchInput" aria-describedby="emailHelp" placeholder="ძებნა">
        <button class="search-button"><img src="/img/search.svg" alt=""></button>
    </form>
</section>

<div class="container-fluid main-container" id="candidats-with-filter">
    <div class="row">
        <div class="col-xs-6 col-sm-3 filter">
            <div id="filters" class="">
                <div class="panel-heading">
                    <br>
                    <h3 class="panel-title">ძებნა</h3>
                    <p>ნაპოვნია <span id="countedFreelancers">@ViewBag.CountFreelancers</span> ადამიანი</p>
                </div>
                <div class="line"></div>
                <br />
                <section class="possibilities-section">
                    <span class="filter-name">
                        <span class="possibilities-headline">
                            შესაძლებლობები
                            <img src="/img/arrow-red.svg" alt="show more" id="ps-up">
                        </span>
                    </span>
                    <form class="possibilities">
                        @foreach (var s in skillsTolist)
                        {
                            <div class="row">
                                <label class="col-sm"><input class="ckbx" name="@s.Name" type="checkbox"><span><img src="/img/checkbox.svg" class="checkbox">@s.Name</span></label>
                            </div>
                        }
                        <br>
                    </form>
                </section>

                <div class="line"></div>
                <br>

                <section class="rating-section">
                    <span class="filter-name">
                        <span class="rating-headline">
                            რეიტინგი
                            <img src="/img/arrow-red.svg" alt="show more" id="rat-up">
                        </span>
                    </span>
                    <form class="row rating-from-to">
                        <input type="text" placeholder="0" class="col min-rat" id="rating_low" value="0">
                        <input type="text" id="rating_hight" placeholder="10" class="col max-rat" value="10">
                        <br>

                        <div style="" id="line">
                            <div id="buutonaut">
                                <div id="button1">

                                </div>
                            </div>
                            <div id="buutonaut2">
                                <div id="button2">

                                </div>
                            </div>
                        </div>


                    </form>
                </section>
                <br />
                <div class="line col-xs-12 col-sm-12"></div>
                <br />

                <p class="clear-search">
                    <img src="/img/reset.svg" alt="clear search">
                    გასუფთავება
                </p>
                <div class="line"></div>
            </div>
        </div>

        <div id="filterFreelancersData" class="col candidats-on-listing-page">
            <div id="dataToload" class="row">
                @foreach (var item in Model)
                {
                    <div class="candidat col-xl-4 col-sm-6 text-center">
                        <div>
                            <div class="hover">
                                <a href="@Url.Action("Details", "Freelancer", new { id = item.ID})" class="image-a" style="background-image: url(/img/pp/@item.Photo);">
                                    <img class="img-thumbnail img-candidat" src="~/img/pp/default-freelancer-pic.png" alt="profile picture">
                                </a>
                            </div>
                            <div id="freelancerSkills" class="candidat-text-content">
                                <a href="@Url.Action("Details", "Freelancer", new { id = item.ID})"><h3 class="candidat-name-fn">@item.Name @item.Surname</h3></a>
                                <ul id="candidatSkill" class="candidat-skils-fn">
                                    @{
                                        var freelancerSkilss = item.Freelancer_Skill.ToList();
                                        var implementedProjects = item.Projects.Count();
                                    }
                                    @foreach (var i in freelancerSkilss)
                                    {
                                        <li><a href="#">@i.Skill.Name</a></li>
                                    }
                                </ul>
                                <ul class="candidat-statistics-fn candidat-statistics">
                                    <li>განხორციელებული პროექტები: <a href="#">@implementedProjects</a></li>
                                    <li>რეიტინგი: @item.Rating / 10</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                 }
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { LinkToFirstPageFormat = "« პირველი", LinkToPreviousPageFormat = "« წინა", LinkToNextPageFormat = "შემდეგი »", LinkToLastPageFormat = "ბოლო »" }) 
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    $('.clear-search').click(function () {
        var vb = @ViewBag.CountFreelancers; //გასუფთავებაზე კლიკის დროს ყველა ფრილასერის რაოდენობის გამოტანა
        $("#filterFreelancersData").load("/Freelancer/Index #dataToload");
        $('#searchInput').val('');
        $("#countedFreelancers").html(vb);
        
    })
</script>

<script src="~/Scripts/JS/printCandidats.js"></script>
<script src="~/Scripts/JS/interaction.js"></script>
<script src="~/Scripts/JS/filter.js"></script>



