<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title სხვა საქართველო</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/css/main/reset.css" rel="stylesheet" />
    <link href="~/css/main/colorsNfonts.css" rel="stylesheet" />
    <link href="~/css/main/layout.css" rel="stylesheet" />
    <link href="~/css/main/master.css" rel="stylesheet" />
    <link href="~/css/main/components.css" rel="stylesheet" />
    <link rel=icon href=/img/favicon.png>
    <link href="~/fonts/bpg-nino-mtavruli-bold-master/css/bpg-nino-mtavruli-bold.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" language="javascript"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/MouseOverPassMouseOutPass.js"></script>
    <script src="~/Scripts/formValidation.js"></script>
    <script src="~/Scripts/filters.js"></script>
    <script src="~/Ckeditor/ckeditor.js"></script>
</head>

@using sxva_saqartvelo_back_end.Models;
@using sxva_saqartvelo_back_end.Helpers;

@{
    var freelancer = LoginHelper.freelancer();
}
<body>
    <header class="main-blue">
        <div class="main-container">
            <a href="/Home/Index">
                <div id="logo">
                </div>
            </a>
            <nav id="header-nav">
                @if (freelancer == null)
                {
                    <button onclick="window.location.href='@Url.Action("Login", "Account")'" class="hvr-back-pulse btn-font">ავტორიზაცია</button>
                    <button onclick="window.location.href='@Url.Action("Register", "Account")'" class="btn-font button-active hvr-back-pulse">რეგისტრაცია</button>
                }
                else
                {
                    <a href="@Url.Action("FreelancerProfile", "Freelancer", new { id = freelancer.ID })" class="image-a" style="background-image: url(/img/pp/@freelancer.Photo);">
                        <img style="float:left; margin-right:14px; margin-top:1px" class="rounded-circle" src="~/img/pp/@freelancer.Photo" alt="profile picture">
                    </a> 
                    <div class="drpdwnMenu">
                        @*დასამატებილი იქნება id*@
                        <a class="loggedUser" href="/Freelancer/FreelancerProfile" style="color:white; cursor:pointer; text-decoration:none">@freelancer.Name @freelancer.Surname</a>
                        <div class="dropdown-content">
                            <a class="edit" href="@Url.Action("EditFreelancer", "Freelancer", new { id = freelancer.ID })"><button class="hvr-back-pulse btn-font">რედაქტირება</button></a>
                            <a class="logout" href="/Account/Logout"><button class="hvr-back-pulse btn-font">გამოსვლა</button></a>
                        </div>
                    </div>
                }
                <div id="myNav" class="overlay">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div class="overlay-content">
                        <a href="/Home/Index">მთავარი</a>
                        <a href="/Home/About">ჩვენ შესახებ</a>
                        <a href="/Freelancer/Index">დეველოპერები</a>
                        <a href="/Home/Contact">კონტაქტი</a>
                        <div class="contact-info-in-nav">
                            <p>+995 577 67 04 04</p>
                            <p>info@geolab.edu.ge</p>
                        </div>
                        <div class="social-icons-in-nav">
                            <a class="no-padding" href="https://plus.google.com/109260799805558176797" target="_blank">
                                <img src="/img/soc-icons/gPlus.svg" alt="google plus" class="soc_for_burger">
                            </a>
                            <a class="no-padding" href="https://www.facebook.com/GeoLabEdu/?ref=br_rs" target="_blank">
                                <img src="/img/soc-icons/fb.svg" alt="facebook" class="soc_for_burger">
                            </a>
                            <a class="no-padding" href="https://www.youtube.com/channel/UCGv7kAqQbpP6H0cpNid0afw" target="_blank">
                                <img src="/img/soc-icons/you.svg" alt="youtube" class="soc_for_burger">
                            </a>
                        </div>
                    </div>
                </div>
                <img src="/img/burger.svg" alt="navigation" id="burger-icon" onclick="openNav()">
            </nav>
        </div>
    </header>

    @RenderBody()

    <footer id="footer" class="main-blue">
        <section id="partners">
            <a href="http://geolab.edu.ge/" target="_blank"><img src="~/img/logos/geolab.png" alt="parner"></a>
            <a href="https://www.leavingstone.com/" target="_blank"><img src="~/img/logos/leavingstone.png" alt="parner"></a>
            <a href="http://www.techpark.ge/" target="_blank"><img src="~/img/logos/gita.png" alt="parner"></a>
            <a href="https://geocell.ge/" target="_blank"><img src="~/img/logos/geocell.jpg" alt="parner"></a>
        </section>
        <span id="footer-line"></span>
        <section id="copyright">
            <p class="btn-font">ყველა უფლება დაცულია © 2017</p>
        </section>
    </footer>

    <!-- Css -->
    <link href="~/css/main/interaction.css" rel="stylesheet" />
    <link href="~/css/pagesNcomponents/candidatInList.css" rel="stylesheet" />

    <!-- JS -->
    <script src="~/Scripts/popper.js"></script>

    <!-- add elements in html -->
    <script src="~/Scripts/JS/printHeader.js"></script>

    <!-- interaction -->
    <script src="~/Scripts/JS/burger.js"></script>
</body>
</html>